<% if (post.prev || post.next){ %>
<ul class="pagination" role="menubar" aria-label="Pagination">
  <% if (post.next){ %>
    <li class="arrow">
      <a href="<%- config.root %><%- post.next.path %>" id="article-nav-older" class="article-nav-link-wrap">
        «
        <span class="article-nav-title"><%= post.next.title %></span>
      </a>
    </li>
  <% } %>
  <% if (post.prev){ %>
    <li class="arrow">
      <a href="<%- config.root %><%- post.prev.path %>" id="article-nav-newer" class="article-nav-link-wrap">
        <span class="article-nav-title">
          <% if (post.prev.title){ %>
            <%= post.prev.title %>
          <% } else { %>
            (no title)
          <% } %>
        </span>
        »
      </a>
    </li>
  <% } %>
</ul>
<% } %>
