<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <div class="row" id="main">
    <section id="content" class="small-12 medium-12 large-8 columns">
      <%- body %>
    </section>
    <%- partial('_partial/sidebar') %>
  </div>
  <%- partial('_partial/js') %>
</body>
</html>
